<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
